<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

   <bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
  	    <property name="defaultUri" value="http://localhost:8080/foo/hello" />
  	    <property name="marshaller" ref="marshaller" />
  	    <property name="unmarshaller" ref="marshaller" />
  	    
  	</bean>
	    
    <bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="mtomEnabled" value="true"/>
        <property name="classesToBeBound">
            <list>
                <value>ru.spbstu.telematics.student.HelloRequest</value>
                <value>ru.spbstu.telematics.student.HelloResponse</value>
            </list>
        </property>
    </bean>
</beans>